@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #f5ff00;
  --secondary-color: #f2f2f2;
  --third-color: #ffffff;
  --container-color: #e3e3e3;
  --navbar-padding: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: var(--container-color);
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 50px repeat(10, 200px);
  justify-content: center;
  position: relative;
}
.box {
  align-content: center;
  padding: 0;
  margin: 0;
}
.box1 {
  padding: var(--navbar-padding);
  grid-column-start: 2;
  background-color: var(--third-color);
}
.box2 {
  padding: var(--navbar-padding);
  grid-column-start: 3;
  background-color: var(--third-color);
}
.box3 {
  padding: var(--navbar-padding);
  grid-column-start: 4;
  background-color: var(--third-color);
}
.box4 {
  grid-column-start: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 220, 220);
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  height: 2rem;
  background-color: white;
  width: 80%;
  cursor: pointer;
}
.box5 {
  background-image: url(./images/box1.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 2 / 4;
  grid-column: 2 /4;
}
.box6 {
  background-image: url(./images/box2.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 2 / 3;
  grid-column: 4 /5;
}
.box7 {
  background-image: url(./images/box3.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 2 / 3;
  grid-column: 5 /6;
}
.box8 {
  background-color: var(--primary-color);
  grid-row: 3 / 4;
  grid-column: 3 /4;
}
.box9 {
  background-color: var(--secondary-color);
  grid-row: 3 / 4;
  grid-column: 4 /5;
  /*   border-color: transparent transparent var(--secondary-color) transparent;
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: -7px;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%); */
}
.box10 {
  background-color: var(--third-color);
  grid-row: 3 / 4;
  grid-column: 5 /6;
}
.box11 {
  background-image: url(./images/box4.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 4/ 5;
  grid-column: 2 /3;
}
.box12 {
  background-image: url(./images/box5.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 4 / 5;
  grid-column: 3 /4;
}
.box13 {
  background-image: url(./images/box6.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 4 / 6;
  grid-column: 4 /6;
}
.box14 {
  background-color: var(--primary-color);
  grid-row: 5/ 6;
  grid-column: 2 /3;
}
.box15 {
  background-color: var(--secondary-color);
  grid-row: 5 / 6;
  grid-column: 3 /4;
}
.box16 {
  background-color: var(--third-color);
  grid-row: 5 / 6;
  grid-column: 4 /5;
}
.box17 {
  background-image: url(./images/box7.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 6 / 8;
  grid-column: 2 /4;
}
.box18 {
  background-image: url(./images/box8.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 6 / 7;
  grid-column: 4 /5;
}
.box19 {
  background-image: url(./images/box9.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 6 / 7;
  grid-column: 5 /6;
}
.box20 {
  background-color: var(--secondary-color);
  grid-row: 7 / 8;
  grid-column: 3 /4;
}
.box21 {
  background-color: var(--primary-color);
  grid-row: 7/ 8;
  grid-column: 4 /5;
}
.box22 {
  background-color: var(--third-color);
  grid-row: 7/ 8;
  grid-column: 5 /6;
}
.box23 {
  background-image: url(./images/box10.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 9;
  grid-column: 2 /3;
}
.box24 {
  background-image: url(./images/box11.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 9;
  grid-column: 3 /4;
}
.box25 {
  background-image: url(./images/box12.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 8 / 10;
  grid-column: 4 / 6;
}
.box26 {
  background-color: var(--primary-color);
  grid-row: 9/ 10;
  grid-column: 2 /3;
}
.box27 {
  background-color: var(--secondary-color);
  grid-row: 9 / 10;
  grid-column: 3 /4;
}
.box28 {
  background-color: var(--third-color);
  grid-row: 9 / 10;
  grid-column: 5 /6;
}
.box29 {
  background-image: url(./images/box13.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 10 / 11;
  grid-column: 2 /3;
}
.box30 {
  background-image: url(./images/box14.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 10 / 11;
  grid-column: 2 /3;
}
.box31 {
  background-image: url(./images/box15.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 10 / 11;
  grid-column: 3 /4;
}
.box32 {
  background-image: url(./images/box8.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 10 / 11;
  grid-column: 4 /5;
}
.box33 {
  background-color: var(--secondary-color);
  grid-row: 11/ 12;
  grid-column: 2 /3;
}
.box34 {
  background-color: var(--third-color);
  grid-row: 11/ 12;
  grid-column: 3 /4;
}
.box35 {
  background-color: var(--primary-color);
  grid-row: 11/ 12;
  grid-column: 4 /5;
}
.box36 {
  background-color: var(--container-color);
  grid-row: 11/ 12;
  grid-column: 5 /6;
  position: relative;
}
.box37 {
  background-color: var(--third-color);
  grid-row: 3/ 5;
  grid-column: 1 /2;
  position: relative;
}
/* BOX SONRASI İNCE AYARLAR */
.smallHeader {
  font-size: 10px;
  font-weight: 100;
  font-weight: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h3 {
  font-weight: 500;
}
.mainPar {
  font-weight: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.boxLine {
  font-size: 1.4rem;
  padding: 0rem;
}
.inMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--navbar-padding);
}
.linkA {
  font-size: 12px;
  float: right;
}
.iconFooter {
  font-size: 2rem;
  clear: both;
  float: right;
  color: gray;
}
.fa-solid {
  clear: both;
  float: right;
}
.footerLine {
  color: gray;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box37Design {
  display: flex;
  flex-direction: column;
  padding: var(--navbar-padding);
  height: 100%;
  width: 100%;
}
h1 {
  margin-bottom: 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  color: gray;
  cursor: pointer;
}
.iconFooter2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--navbar-padding);
  color: gray;
  cursor: pointer;
}
